<div class="jumbotron ">
    <script src="https://s3.amazonaws.com/cds-tzn-test/resources/cds-process.min.js"></script>
    <div id="data-cdsg-payments" demo="1" billme="0" yourWallet="1" payWith="1" credit="1" cvv="0" CVVValidationMessage="" allowedCards="MC VI "></div>
    <div id="app"></div>
    <script type="text/javascript" src="https://cdn.rawgit.com/McCallTech/CDS-Payments-Widget/master/dist/payments-widget.js"></script>
    <!--<link href="https://cdn.rawgit.com/McCallTech/CDS-Payments-Widget/master/dist/main.css" rel="stylesheet">-->
</div>